<a href="https://colab.research.google.com/github/IshjitSingh/Dairy-Farming-Victoria/blob/main/Dairy_farms_Victoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
import pandas as pd
from io import StringIO

In [3]:

#https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?format=near&station=30068&radius=100&sortby=name
def temperature_data(station,name,distance):
 #API request to get the station data
 #&lat=-23.00&lon=135.00&
 link_init="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?format=near&station="
 link_end="&radius="+str(distance)+"&sortby=name"
 link = link_init+str(station)+link_end
 station_detail=requests.get(link)
 station_detail = station_detail.text.replace("|", ",")
 #convert the extracted data to data frame
 st_det_csv=StringIO(station_detail)
 st_det_df=pd.read_csv(st_det_csv,sep=',',header=[0])
 st_det_vic=st_det_df[(st_det_df.Stat=="VIC ")]
 f = requests.get('https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20210630&station='+str(station)+'&format=csv&comment=xn&username=ishjit.sachdeva@gmail.com')
 my_north_csv=StringIO(f.text)
 temperature_north_col=pd.read_csv(my_north_csv,sep=',',header=[0])
 data_min = pd.DataFrame(columns = ['Date'])
 data_max = pd.DataFrame(columns = ['Date'])
 data_min['Date']=temperature_north_col["YYYY-MM-DD"]
 data_max['Date']=temperature_north_col["YYYY-MM-DD"]
 for col in st_det_vic['Number']:
   data_min[str(col)+'min']=''
   data_max[str(col)+'max']=''
 #making consolidated dataset

 url="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20210630&station="
 norm_param="&format=csv&comment=xn&username=ishjit.sachdeva@gmail.com"
 for stnum in st_det_vic['Number']:
   st=str(stnum)
   my_url=url+st+norm_param
   data_api=requests.get(my_url)
   csv_api=StringIO(data_api.text)
   temperature_df=pd.read_csv(csv_api,sep=',',header=[0])
   data_max[str(stnum)+'max']=temperature_df['max_temp']
   data_min[str(stnum)+'min']=temperature_df['min_temp']
   
 return data_max,data_min

#return data_minmax

In [4]:
north_max_temp,north_min_temp = temperature_data(81125,'north',75)
#north_csv_temp.to_csv('north_temp.csv')
#files.download('north_temp.csv')
#gippsland files

gipps_max_temp,gipps_min_temp=temperature_data(85086,'south',105)
#gipps_csv_temp.to_csv('gipps_temp.csv')
#files.download('gipps_temp.csv')

southwest_max_temp,southwest_min_temp=temperature_data(90082,'southwest',100)
#southwest_csv_temp.to_csv('west_temp.csv')
#files.download('west_temp.csv')

<ipython-input-3-3421395617f5>:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_min[str(col)+'min']=''
<ipython-input-3-3421395617f5>:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_max[str(col)+'max']=''

In [ ]:
north_max_temp.to_csv("north_max_temp.csv")
north_min_temp.to_csv("north_min_temp.csv")
gipps_max_temp.to_csv("gipps_max_temp.csv")
gipps_min_temp.to_csv("gipps_min_temp.csv")
southwest_max_temp.to_csv("sw_max_temp.csv")
southwest_min_temp.to_csv("sw_min_temp.csv")

In [ ]:
north_csv_rain=rain_data_f(81125,'north',100)
#north_csv_rain.to_csv('north_rain.csv')
#files.download('north_rain.csv')

gipps_csv_rain=rain_data_f(85086,'south',105)
#gipps_csv_rain.to_csv('gipps_rain.csv')
#files.download('gipps_rain.csv')

southwest_csv_rain=rain_data_f(90082,'southwest',150)
#southwest_csv_rain.to_csv('west_rain.csv')
#files.download('west_rain.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:

def rain_data(station,name,distance):
 #API request to get the station data
 link_init="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?format=near&station="
 link_end="&radius="+str(distance)+"&sortby=name"
 link = link_init+str(station)+link_end
 station_detail=requests.get(link)
 station_detail = station_detail.text.replace("|", ",")
 #convert the extracted data to data frame
 st_det_csv=StringIO(station_detail)
 st_det_df=pd.read_csv(st_det_csv,sep=',',header=[0])
 st_det_vic=st_det_df[(st_det_df.Stat=="VIC ")]
 f = requests.get('https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20210630&station='+str(station)+'&format=csv&comment=r&username=ishjit.sachdeva@gmail.com')
 my_north_csv=StringIO(f.text)
 temperature_north_col=pd.read_csv(my_north_csv,sep=',',header=[0])
 temperature_north_col
 data_minmax = pd.DataFrame(columns = ['Date'])
 data_minmax['Date']=temperature_north_col['YYYY-MM-DD']
 data_minmax
 for col in st_det_vic['Number']:
   data_minmax[str(col)]=''
 #making consolidated dataset
 url="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20200630&station="
 norm_param="&format=csv&comment=r&username=ishjit.sachdeva@gmail.com"
 for stnum in st_det_vic['Number']:
   st=str(stnum)
   my_url=url+st+norm_param
   data_api=requests.get(my_url)
   csv_api=StringIO(my_data_api.text)
   temperature_df=pd.read_csv(csv_api,sep=',',header=[0])
   data_minmax[str(stnum)]=temperature_df['daily_rain']
   
 return data_minmax

#return data_minmax

In [ ]:
def rain_data_f(station,name,distance):
 #API request to get the station data
 link_init="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?format=near&station="
 link_end="&radius="+str(distance)+"&sortby=name"
 link = link_init+str(station)+link_end
 station_detail=requests.get(link)
 station_detail = station_detail.text.replace("|", ",")
 #convert the extracted data to data frame
 st_det_csv=StringIO(station_detail)
 st_det_df=pd.read_csv(st_det_csv,sep=',',header=[0])
 st_det_vic=st_det_df[(st_det_df.Stat=="VIC ")]
 f = requests.get('https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20210630&station='+str(station)+'&format=csv&comment=r&username=ishjit.sachdeva@gmail.com')
 my_north_csv=StringIO(f.text)
 temperature_north_col=pd.read_csv(my_north_csv,sep=',',header=[0])
 temperature_north_col
 data_minmax = pd.DataFrame(columns = ['Date'])
 data_minmax['Date']=temperature_north_col['YYYY-MM-DD']
 data_minmax
 for col in st_det_vic['Number']:
   data_minmax[str(col)]=''
 #making consolidated dataset
 url="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=20060701&finish=20210630&station="
 norm_param="&format=csv&comment=r&username=ishjit.sachdeva@gmail.com"
 for stnum in st_det_vic['Number']:
   st=str(stnum)
   my_url=url+st+norm_param
   data_api=requests.get(my_url)
   csv_api=StringIO(data_api.text)
   temperature_df=pd.read_csv(csv_api,sep=',',header=[0])
   data_minmax[str(stnum)]=temperature_df['daily_rain']
 return data_minmax  
#rain_south=rain_data_f(81125,'south',100)

In [ ]:
def temperature_data_historical(station,name,distance):
 #API request to get the station data
 #&lat=-23.00&lon=135.00&
 link_init="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?format=near&station="
 link_end="&radius="+str(distance)+"&sortby=name"
 link = link_init+str(station)+link_end
 station_detail=requests.get(link)
 station_detail = station_detail.text.replace("|", ",")
 #convert the extracted data to data frame
 st_det_csv=StringIO(station_detail)
 st_det_df=pd.read_csv(st_det_csv,sep=',',header=[0])
 st_det_vic=st_det_df[(st_det_df.Stat=="VIC ")]
 f = requests.get('https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=19100101&finish=20200630&station='+str(station)+'&format=csv&comment=xn&username=ishjit.sachdeva@gmail.com')
 my_north_csv=StringIO(f.text)
 temperature_north_col=pd.read_csv(my_north_csv,sep=',',header=[0])
 data_min = pd.DataFrame(columns = ['Date'])
 data_max = pd.DataFrame(columns = ['Date'])
 data_min['Date']=temperature_north_col["YYYY-MM-DD"]
 data_max['Date']=temperature_north_col["YYYY-MM-DD"]
 for col in st_det_vic['Number']:
   data_min[str(col)+'min']=''
   data_max[str(col)+'max']=''
 #making consolidated dataset

 url="https://www.longpaddock.qld.gov.au/cgi-bin/silo/PatchedPointDataset.php?start=19100101&finish=20200630&station="
 norm_param="&format=csv&comment=xn&username=ishjit.sachdeva@gmail.com"
 for stnum in st_det_vic['Number']:
   st=str(stnum)
   my_url=url+st+norm_param
   data_api=requests.get(my_url)
   csv_api=StringIO(data_api.text)
   temperature_df=pd.read_csv(csv_api,sep=',',header=[0])
   data_max[str(stnum)+'max']=temperature_df['max_temp']
   data_min[str(stnum)+'min']=temperature_df['min_temp']
   
 return data_max,data_min

In [ ]:
north_max_temp_hist,north_min_temp_hist = temperature_data_historical(81125,'north',100)
#north_max_temp_hist.to_csv('north_temp_max_hist.csv')
#north_min_temp_hist.to_csv('north_temp_min_hist.csv')
#files.download('north_temp.csv')
#gippsland files
gipps_max_temp_hist,gipps_min_temp_hist=temperature_data_historical(85086,'south',105)
#gipps_min_temp_hist.to_csv('gipps_min_temp_hist.csv')
#gipps_max_temp_hist.to_csv('gipps_max_temp_hist.csv')
#files.download('gipps_temp.csv')

southwest_max_temp_hist,southwest_min_temp_hist=temperature_data_historical(90082,'southwest',150)
#southwest_max_temp_hist.to_csv('west_temp_max.csv')
#southwest_min_temp_hist.to_csv('west_temp_min.csv')
#files.download('west_temp.csv')

NameError: ignored

In [ ]:
north_max_temp_hist.shape
north_max_temp_hist=Fin_year(north_max_temp_hist)
north_max_temp_hist=north_max_temp_hist.sort_values(by=['D_avg'], ascending=False)

In [ ]:
def hottest_rows(dataset):
  dataset=Fin_year(dataset)
  dataset=dataset.sort_values(by=['D_avg'], ascending=False)
  dataset=dataset.head(404)
  minima=dataset['D_avg'].min()
  return minima

In [ ]:
def in_top1(df,minima):
  df['c30']=df['D_avg'].map(lambda x: x>minima)
  return df

#N_max_d['c30']=N_max_d['D_avg'].map(lambda x: x>35.0)

In [ ]:
north_minima=hottest_rows(north_max_temp_hist)
gipps_minima=hottest_rows(gipps_max_temp_hist)
sw_minima=hottest_rows(southwest_max_temp_hist)

north_max_temp=in_top1(north_max_temp,north_minima)
gipps_max_temp=in_top1(gipps_max_temp,gipps_minima)
southwest_max_temp=in_top1(southwest_max_temp,sw_minima)

In [ ]:
# Return a data frame with the longest trend of 90 degrees fahrenheit per year
from itertools import groupby

# Return a list of the length of each consecutive trend
def groups(list):
    return [sum(g) for i, g in groupby(list) if i==1]
def consecutive_F90(dfl):
    
    #F90: Maximum consecutive days where tmax was 90 degrees fahrenheit or higher
    #"""
    consecutive_days = []
    years = []
    for year in range(dfl['FYear'].min(), dfl['FYear'].max()+1):
        if sum(dfl[dfl['FYear']==year]['c30'])==0:
            consecutive_days.append(0)
            years.append(year)
        else:
            consecutive_days.append((groups(dfl[dfl['FYear']==year]['c30'])))
            years.append(year)
    #return pd.DataFrame(list(zip(years, consecutive_days)), columns=['FYear', 'c30'])
    new_df=pd.DataFrame(list(zip(years, consecutive_days)), columns=['FYear', 'c30'])
    for y in range(0,len(new_df)):
      new_sum=sum(i >=3 for i in new_df.iloc[y]['c30'])
      new_df.at[y,"count_1"]=new_sum
    return new_df

In [ ]:
north_count=consecutive_F90(north_max_temp)
gipps_count=consecutive_F90(gipps_max_temp)
sw_count=consecutive_F90(southwest_max_temp)

In [ ]:
for y in range(0,len(north_count)):
  sum1=sum(i >=3 for i in north_count.iloc[y]['c30'])
  north_count.at[y,"count_1"]=sum1

In [ ]:
sw_count

    FYear                                                c30  count_1
0    2007  [1, 1, 1, 2, 4, 1, 8, 3, 3, 5, 2, 5, 4, 3, 1, ...     15.0
1    2008  [3, 1, 5, 2, 5, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, ...     13.0
2    2009  [1, 1, 4, 2, 1, 4, 2, 1, 5, 4, 8, 2, 18, 16, 3...     12.0
3    2010  [1, 1, 2, 1, 1, 2, 3, 2, 2, 1, 1, 2, 3, 6, 9, ...      9.0
4    2011  [1, 1, 1, 2, 5, 3, 1, 3, 5, 1, 8, 1, 2, 9, 20,...     12.0
5    2012  [1, 4, 1, 5, 4, 1, 4, 2, 2, 6, 3, 7, 3, 1, 141...     13.0
6    2013  [1, 1, 3, 2, 4, 2, 3, 3, 3, 3, 4, 179, 2, 7, 1...     10.0
7    2014  [1, 2, 1, 9, 1, 3, 5, 1, 2, 2, 3, 2, 2, 3, 3, ...     12.0
8    2015  [2, 5, 5, 2, 3, 5, 4, 5, 15, 141, 1, 9, 9, 1, ...     13.0
9    2016  [2, 4, 1, 3, 6, 4, 8, 3, 14, 15, 147, 8, 1, 5,...     12.0
10   2017  [1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 4, 2, 1, 2, ...     10.0
11   2018  [1, 3, 2, 1, 1, 4, 1, 1, 2, 2, 2, 7, 7, 1, 1, ...      8.0
12   2019  [2, 1, 1, 1, 2, 3, 2, 2, 1, 1, 2, 4, 4, 9, 17,...     12.0
13   2020  [1, 1, 1, 1, 3, 1, 3, 3, 1, 3, 2, 5, 1, 5, 7, ...     15.0
14   2021  [1, 1, 2, 3, 1, 3, 2, 1, 4, 6, 6, 4, 4, 4, 30,...     15.0

In [ ]:
#north_count.at[1,'count']=2
north_count

,FYear,c30,"(1, count)",count
0,2007,"[2, 1, 3, 2, 2, 1, 1, 4, 1, 1, 3, 3, 4, 4, 7, ...",2,10.0
1,2008,"[2, 5, 2, 2, 1, 2, 1, 1, 1, 17, 1, 1, 6, 2, 1,...",2,2.0
2,2009,"[1, 3, 1, 1, 1, 3, 4, 4, 6, 15, 1, 2, 2, 2, 1,...",2,NaN
3,2010,"[4, 9, 3, 1, 1, 1, 3, 4, 6, 2, 6, 2, 3, 5, 5, ...",2,NaN
4,2011,"[2, 3, 2, 1, 4, 3, 2, 4, 6, 1, 1, 1]",2,NaN
5,2012,"[1, 1, 1, 1, 2, 1, 2, 3, 5, 1, 15, 2, 3, 1, 4]",2,NaN
6,2013,"[2, 1, 2, 4, 1, 3, 1, 3, 1, 2, 6, 2, 4, 6, 1, ...",2,NaN
7,2014,"[1, 1, 1, 1, 3, 1, 7, 1, 1, 12, 2, 18, 1, 3, 2...",2,NaN
8,2015,"[1, 2, 1, 2, 3, 1, 2, 4, 1, 1, 3, 3, 2, 8, 1, ...",2,NaN
9,2016,"[3, 1, 1, 1, 1, 3, 1, 1, 5, 1, 7, 4, 5, 6, 5, ...",2,NaN
10,2017,"[1, 2, 1, 2, 10, 5, 1, 1, 2, 1, 2, 4, 2, 5, 2,...",2,NaN
11,2018,"[1, 5, 6, 3, 8, 2, 3, 1, 5, 3, 14, 7, 4, 2, 1,...",2,NaN
12,2019,"[3, 1, 1, 4, 2, 1, 12, 2, 16, 3, 7, 4, 12, 1, 7]",2,NaN
13,2020,"[1, 1, 3, 2, 1, 2, 2, 4, 9, 4, 3, 3, 3, 1, 7, ...",2,NaN
14,2021,"[1, 2, 1, 4, 1, 2, 1, 4, 2, 2, 1, 6, 6, 1, 3, ...",2,NaN

In [ ]:
def Fin_year(temp_data):
  col_len=len(temp_data.columns)
  temp_data['D_avg']=temp_data.iloc[:,1:col_len].mean(axis=1)
  temp_data['Date']=pd.to_datetime(temp_data['Date'])
  temp_data['FYear']=temp_data['Date'].map(lambda d: d.year + 1 if d.month > 6 else d.year)
  temp_data['month']=temp_data['Date'].dt.month
  temp_data['Season']=temp_data['month'].map(lambda d: "Summer" if d==12 or d==1 or d==2 else ("Autumn" if d==3 or d==4 or d==5 else("Winter" if d==6 or d==7 or d==8 else("Spring"))))
  return temp_data

#north_max_temp['Date']=pd.to_datetime(north_max_temp['Date'])

In [ ]:
#adding financial year to temperature data
north_max_temp=Fin_year(north_max_temp)
north_min_temp=Fin_year(north_min_temp)
gipps_max_temp=Fin_year(gipps_max_temp)
gipps_min_temp=Fin_year(gipps_min_temp)
southwest_max_temp=Fin_year(southwest_max_temp)
southwest_min_temp=Fin_year(southwest_min_temp)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  import sys

In [ ]:
#adding fin year to rain data
north_csv_rain=Fin_year(north_csv_rain)
gipps_csv_rain=Fin_year(gipps_csv_rain)
southwest_csv_rain=Fin_year(southwest_csv_rain)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  import sys

In [ ]:
#rain to csv
north_csv_rain.to_csv("north_csv_rain.csv")
gipps_csv_rain.to_csv("gipps_csv_rain.csv")
southwest_csv_rain.to_csv("southwest_csv_rain.csv")

In [ ]:
# function for adding seasons
def seasons(dataset):
  dataset['month']=dataset['Date'].dt.month
  dataset['Season']=dataset['month'].map(lambda d: "Summer" if d==12 or d==1 or d==2 else ("Autumn" if d==3 or d==4 or d==5 else("Winter" if d==6 or d==7 or d==8 else("Spring"))))
  return dataset

In [ ]:
def aggregate(dataset):
  grouped=dataset.groupby(['FYear','Season']).agg({'D_avg':['sum','mean','max','min']})
  grouped.columns=['avge_sum', 'avge_mean', 'avge_max','avge_min']
  grouped = grouped.reset_index()
  return grouped

In [ ]:
north_max_grouped=aggregate(north_max_temp)
north_min_grouped=aggregate(north_min_temp)
gipps_max_grouped=aggregate(gipps_max_temp)
gipps_min_grouped=aggregate(gipps_min_temp)
sw_max_grouped=aggregate(southwest_max_temp)
sw_min_grouped=aggregate(southwest_min_temp)
#north_max_grouped.to_csv("north_max_grouped.csv")

In [ ]:
north_rain_grouped=aggregate(north_csv_rain)
gipps_rain_grouped=aggregate(gipps_csv_rain)
sw_rain_grouped=aggregate(southwest_csv_rain)

In [ ]:
def chng_col_name(df1):
  globals_dict = globals()
  area_name=[var_name for var_name in globals_dict if globals_dict[var_name] is df1]
  area_name = area_name[0].split("_")
  df1 =df1.add_prefix(str(area_name[0])+"_")
  return df1
north_max_grouped_temp=chng_col_name(north_max_grouped)

In [ ]:
north_max_grouped.to_csv("north_temp_grouped.csv")
gipps_max_grouped.to_csv("gipps_temp_grouped.csv")
sw_max_grouped.to_csv("sw_temp_grouped.csv")
north_min_grouped.to_csv("north_min_group.csv")
gipps_min_grouped.to_csv("gipps_min_group.csv")
sw_min_grouped.to_csv("sw_min_group.csv")
north_rain_grouped.to_csv("north_rain_grp.csv")
gipps_rain_grouped.to_csv("gipps_rain_grp.csv")
sw_rain_grouped.to_csv("sw_rain_grp.csv")

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
def create_plot(df1):
  fig = px.line(df1, x="FYear", y="avge_max",color="Season",markers=True, title='Maximum temperature across Years')
  return fig

north_temp_plot=create_plot(north_max_grouped)
gipps_temp_plot=create_plot(gipps_max_grouped)
sw_temp_plot=create_plot(sw_max_grouped)

In [ ]:
north_winter=gipps_rain_grouped['Season']=='Winter'
north_winter=gipps_rain_grouped[north_winter]
north_winter['avge_sum'].mean()

263.0696161616162

In [ ]:
north_temp_plot

In [ ]:
north_max_grouped.groupby('Season').describe()

       FYear                                                            \
       count    mean       std     min     25%     50%     75%     max
Season
Autumn  15.0  2014.0  4.472136  2007.0  2010.5  2014.0  2017.5  2021.0
Spring  15.0  2014.0  4.472136  2007.0  2010.5  2014.0  2017.5  2021.0
Summer  15.0  2014.0  4.472136  2007.0  2010.5  2014.0  2017.5  2021.0
Winter  15.0  2014.0  4.472136  2007.0  2010.5  2014.0  2017.5  2021.0

       avge_sum               ...   avge_max            avge_min             \
          count         mean  ...        75%        max    count       mean
Season                        ...
Autumn     15.0  2017.077968  ...  36.580476  38.935238     15.0  11.627556
Spring     15.0  2014.965143  ...  38.361429  41.356190     15.0  12.592571
Summer     15.0  2719.238349  ...  43.159524  45.383810     15.0  18.484254
Winter     15.0  1251.645778  ...  20.500000  23.511429     15.0   8.950222


             std        min        25%        50%        75%        max
Season
Autumn  1.208151   9.316190  10.644286  11.467619  12.487143  13.665714
Spring  1.126235  10.502857  12.045238  12.508571  13.231429  14.700000
Summer  1.972034  13.397143  17.981905  18.480952  19.325714  21.951429
Winter  0.711874   7.780952   8.503333   8.768571   9.346190  10.288571

[4 rows x 40 columns]

Warning: Total number of columns (40) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
def create_rplot(df1):
  fig = px.line(df1, x="FYear", y="avge_sum",color="Season",markers=True, title='Total Seasonal Rainfall across Years')
  return fig
north_rain_plot=create_rplot(north_rain_grouped)
gipps_rain_plot=create_rplot(gipps_rain_grouped)
sw_rain_plot=create_rplot(sw_rain_grouped)

In [ ]:
sw_rain_plot.show()

In [ ]:
#new_df=gipps_max_grouped
def combine(dataset1,dataset2,dataset3,count_n,final):
  globals_dict = globals()
  my_name1=[var_name for var_name in globals_dict if globals_dict[var_name] is dataset1]
  my_name2=[var_name for var_name in globals_dict if globals_dict[var_name] is dataset2]
  my_name3=[var_name for var_name in globals_dict if globals_dict[var_name] is dataset3]
  #name1, x=[name for name in globals() if globals()[name] is dataset]
  #my_name=namestr(dataset,globals())
  dataset1=dataset1.pivot_table(index="FYear", 
                              columns=['Season'],
                              values=['avge_sum','avge_mean','avge_max','avge_min'])
  dataset2=dataset2.pivot_table(index="FYear", 
                              columns=['Season'],
                              values=['avge_sum','avge_mean','avge_max','avge_min'])
  dataset3=dataset3.pivot_table(index="FYear", 
                              columns=['Season'],
                              values=['avge_sum','avge_mean','avge_max','avge_min'])
  dataset1.columns =dataset1.columns.map('{0[0]}|{0[1]}'.format)
  dataset2.columns =dataset2.columns.map('{0[0]}|{0[1]}'.format)
  dataset3.columns =dataset3.columns.map('{0[0]}|{0[1]}'.format)
  dataset1 =dataset1.add_prefix(str(my_name1)+" ")
  dataset2 =dataset2.add_prefix(str(my_name2)+" ")
  dataset3 =dataset3.add_prefix(str(my_name3)+" ")
  #final=final.rename(columns={'Year':'FYear'})
  final =final.merge(dataset1,on='FYear')
  final=final.merge(dataset2,on='FYear')
  final=final.merge(dataset3,on="FYear")
  final=final.merge(count_n,on="FYear")
  return final  
#gipps_df1=combine(gipps_max_grouped,gipps_min_grouped,gipps_rain_grouped,gipps_count,gipps_df)

In [ ]:
gipps_df= pd.read_csv("gipps_finale.csv")
sw_df=pd.read_csv("SW_final.csv")
north_df=pd.read_csv("north_final.csv")

In [ ]:
gipps_finale=combine(gipps_max_grouped,gipps_min_grouped,gipps_rain_grouped,gipps_count,gipps_df)
north_finale=combine(north_max_grouped,north_min_grouped,north_rain_grouped,north_count,north_df)
sw_finale=combine(sw_max_grouped,sw_min_grouped,sw_rain_grouped,sw_count,sw_df)

In [ ]:
sw_min_g=sw_min_grouped
sw_min_g
new_df1=sw_min_g
new_df1=new_df1.pivot_table(index="FYear", 
                    columns=['Season'], 
                    values=['avge_sum','avge_mean','avge_max','avge_min'])
new_df1.columns =new_df1.columns.map('{0[0]}|{0[1]}'.format)
new_df1

In [ ]:
import numpy as np
import pandas as pd
#!pip install linearmodels
from linearmodels import PanelOLS
from linearmodels import RandomEffects
#from linearmodels import FixedEffects
import statsmodels.api as sm
import math
import statsmodels.formula.api as smf

In [ ]:
north_col_list = north_finale.columns.values.tolist()
sw_col_list=sw_finale.columns.values.tolist()
gipps_col_list=gipps_finale.columns.values.tolist()

In [ ]:
north_col_list
north_model_df=north_finale
#north_model_df['FYear']=pd.to_numeric(north_model_df['FYear'])
north_model_df=north_model_df.set_index(['Farm number','FYear'])

exog_vars = ['Grazed area', 'count_1','Estimated grazed pasture','Estimated conserved feed',
             "['north_max_grouped', '_209'] avge_max|Autumn",
 "['north_max_grouped', '_209'] avge_max|Spring",
 "['north_max_grouped', '_209'] avge_max|Summer",
 "['north_max_grouped', '_209'] avge_max|Winter",
 "['north_max_grouped', '_209'] avge_mean|Autumn",
 "['north_max_grouped', '_209'] avge_mean|Spring",
 "['north_max_grouped', '_209'] avge_mean|Summer",
 "['north_max_grouped', '_209'] avge_mean|Winter",
 "['north_rain_grouped', '_211'] avge_sum|Autumn",
 "['north_rain_grouped', '_211'] avge_sum|Spring",
 "['north_rain_grouped', '_211'] avge_sum|Summer",
 "['north_rain_grouped', '_211'] avge_sum|Winter"]
exog = sm.add_constant(north_model_df[exog_vars])
mod = RandomEffects(north_model_df['Milk sold'], exog)
re_res = mod.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:              Milk sold   R-squared:                        0.5902
Estimator:              RandomEffects   R-squared (Between):              0.7463
No. Observations:                  45   R-squared (Within):               0.2484
Date:                Tue, Oct 11 2022   R-squared (Overall):              0.5902
Time:                        10:08:02   Log-likelihood                   -243.04
Cov. Estimator:            Unadjusted
                                        F-statistic:                      2.5201
Entities:                           3   P-value                           0.0156
Avg Obs:                       15.000   Distribution:                   F(16,28)
Min Obs:                       15.000
Max Obs:                       15.000   F-statistic (robust):             2.5201
                                        P-value                           0.0156
Time periods:                      15   Distribution:                   F(16,28)
Avg Obs:                       3.0000
Min Obs:                       3.0000
Max Obs:                       3.0000

                                               Parameter Estimates
==================================================================================================================
                                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------------------------
const                                              1170.5     2797.5     0.4184     0.6788     -4559.8      6900.9
Grazed area                                        0.3873     0.1269     3.0529     0.0049      0.1274      0.6472
count_1                                            5.9159     23.936     0.2471     0.8066     -43.116      54.947
Estimated grazed pasture                           15.100     8.7943     1.7170     0.0970     -2.9148      33.114
Estimated conserved feed                           28.691     10.962     2.6173     0.0141      6.2365      51.145
['north_max_grouped', '_209'] avge_max|Autumn      5.2198     11.015     0.4739     0.6393     -17.344      27.783
['north_max_grouped', '_209'] avge_max|Spring      9.5933     8.9174     1.0758     0.2912     -8.6731      27.860
['north_max_grouped', '_209'] avge_max|Summer      6.8253     15.205     0.4489     0.6570     -24.320      37.970
['north_max_grouped', '_209'] avge_max|Winter      12.008     33.145     0.3623     0.7199     -55.886      79.902
['north_max_grouped', '_209'] avge_mean|Autumn    -33.331     40.238    -0.8283     0.4145     -115.75      49.093
['north_max_grouped', '_209'] avge_mean|Spring    -0.0438     29.371    -0.0015     0.9988     -60.207      60.119
['north_max_grouped', '_209'] avge_mean|Summer     1.5541     40.610     0.0383     0.9697     -81.632      84.740
['north_max_grouped', '_209'] avge_mean|Winter    -33.344     93.155    -0.3579     0.7231     -224.16      157.48
['north_rain_grouped', '_211'] avge_sum|Autumn    -0.6474     0.6467    -1.0011     0.3254     -1.9722      0.6774
['north_rain_grouped', '_211'] avge_sum|Spring     0.2487     0.5119     0.4859     0.6308     -0.7998      1.2973
['north_rain_grouped', '_211'] avge_sum|Summer    -0.5070     0.3406    -1.4886     0.1478     -1.2047      0.1906
['north_rain_grouped', '_211'] avge_sum|Winter     0.6654     0.6232     1.0677     0.2948     -0.6112      1.9420
==================================================================================================================

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
north_finale.to_csv("north_finalle.csv")
gipps_finale.to_csv("gipps_finalle.csv")
sw_finale.to_csv("sw_finalle.csv")

In [ ]:

gipps_model_df=gipps_finale_all
#north_model_df['FYear']=pd.to_numeric(north_model_df['FYear'])
gipps_model_df=gipps_model_df.set_index(['Farm number','FYear'])

exog_gipps_vars = ['Grazed Area (Hectares)', 'count_1','Grazed Pasture','Conserved Feed',
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Winter",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Winter",
"['gipps_rain_grouped'] avge_sum|Autumn",
 "['gipps_rain_grouped'] avge_sum|Spring",
 "['gipps_rain_grouped'] avge_sum|Summer",
 "['gipps_rain_grouped'] avge_sum|Winter"]
exog_gipps = sm.add_constant(gipps_model_df[exog_gipps_vars])
mod_gipps = RandomEffects((gipps_model_df['Milk Sold (kg MS /cow)']), exog_gipps)
re_res_gipps = mod_gipps.fit()
print(re_res_gipps)
model_fe = fixedeffect(data_df = gipps_model_df,
                      dependent = y,
                      exog_x = exog_x,
                      category = category,
                      cluster = cluster)

                          RandomEffects Estimation Summary
====================================================================================
Dep. Variable:     Milk Sold (kg MS /cow)   R-squared:                        0.2120
Estimator:                  RandomEffects   R-squared (Between):              0.2741
No. Observations:                     153   R-squared (Within):              -0.0574
Date:                    Tue, Oct 11 2022   R-squared (Overall):              0.2120
Time:                            11:40:22   Log-likelihood                   -857.51
Cov. Estimator:                Unadjusted
                                            F-statistic:                      2.2868
Entities:                              11   P-value                           0.0054
Avg Obs:                           13.909   Distribution:                  F(16,136)
Min Obs:                           13.000
Max Obs:                           15.000   F-statistic (robust):             2.2868
                                            P-value                           0.0054
Time periods:                          15   Distribution:                  F(16,136)
Avg Obs:                           10.200
Min Obs:                           4.0000
Max Obs:                           11.000

                                                      Parameter Estimates
===============================================================================================================================
                                                             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------------------------------------
const                                                          -1025.4     2764.5    -0.3709     0.7113     -6492.3      4441.5
Grazed Area (Hectares)                                          0.3332     0.1022     3.2608     0.0014      0.1311      0.5352
count_1                                                        -11.582     16.440    -0.7045     0.4824     -44.093      20.930
Grazed Pasture                                                  13.812     2.6139     5.2839     0.0000      8.6425      18.981
Conserved Feed                                                  3.3543     8.4653     0.3962     0.6925     -13.386      20.095
['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Autumn      17.013     17.220     0.9879     0.3249     -17.042      51.067
['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Spring      5.4730     7.6182     0.7184     0.4737     -9.5924      20.538
['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Summer     -10.610     13.188    -0.8045     0.4225     -36.689      15.470
['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Winter     -18.193     31.511    -0.5774     0.5647     -80.509      44.122
['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Autumn    -53.548     51.840    -1.0330     0.3035     -156.06      48.968
['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Spring     62.316     74.137     0.8406     0.4021     -84.294      208.93
['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Summer     23.802     27.133     0.8772     0.3819     -29.854      77.458
['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Winter    -25.411     56.700    -0.4482     0.6547     -137.54      86.716
['gipps_rain_grouped'] avge_sum|Autumn                         -0.0641     0.3647    -0.1758     0.8607     -0.7854      0.6571
['gipps_rain_grouped'] avge_sum|Spring                          0.8174     0.6609     1.2368     0.2183     -0.4896      2.1244
['gipps_rain_grouped'] avge_sum|Summer                         -0.3167     0.2820    -1.1232     0.2633     -0.8744      0.2409
['gipps_rain_grouped'] avge_sum|Winter                          0.3834     0.3816     1.0048     0.3168     -0.3712      1.1381
===============================================================================================================================

In [ ]:
gipps_col_list

['FYear',
 'Year',
 'Farm number',
 'OFarm number',
 'Total Useable Area (Hectares)',
 'Grazed Area (Hectares)',
 'Milk Sold (kg MS /cow)',
 'Grazed Pasture',
 'Conserved Feed',
 ' ',
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_max|Winter",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_mean|Winter",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_min|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_min|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_min|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_min|Winter",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_sum|Autumn",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_sum|Spring",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_sum|Summer",
 "['gipps_max_grouped', '_33', '_37', '_46'] avge_sum|Winter",
 "['gipps_min_grouped'] avge_max|Autumn",
 "['gipps_min_grouped'] avge_max|Spring",
 "['gipps_min_grouped'] avge_max|Summer",
 "['gipps_min_grouped'] avge_max|Winter",
 "['gipps_min_grouped'] avge_mean|Autumn",
 "['gipps_min_grouped'] avge_mean|Spring",
 "['gipps_min_grouped'] avge_mean|Summer",
 "['gipps_min_grouped'] avge_mean|Winter",
 "['gipps_min_grouped'] avge_min|Autumn",
 "['gipps_min_grouped'] avge_min|Spring",
 "['gipps_min_grouped'] avge_min|Summer",
 "['gipps_min_grouped'] avge_min|Winter",
 "['gipps_min_grouped'] avge_sum|Autumn",
 "['gipps_min_grouped'] avge_sum|Spring",
 "['gipps_min_grouped'] avge_sum|Summer",
 "['gipps_min_grouped'] avge_sum|Winter",
 "['gipps_rain_grouped'] avge_max|Autumn",
 "['gipps_rain_grouped'] avge_max|Spring",
 "['gipps_rain_grouped'] avge_max|Summer",
 "['gipps_rain_grouped'] avge_max|Winter",
 "['gipps_rain_grouped'] avge_mean|Autumn",
 "['gipps_rain_grouped'] avge_mean|Spring",
 "['gipps_rain_grouped'] avge_mean|Summer",
 "['gipps_rain_grouped'] avge_mean|Winter",
 "['gipps_rain_grouped'] avge_min|Autumn",
 "['gipps_rain_grouped'] avge_min|Spring",
 "['gipps_rain_grouped'] avge_min|Summer",
 "['gipps_rain_grouped'] avge_min|Winter",
 "['gipps_rain_grouped'] avge_sum|Autumn",
 "['gipps_rain_grouped'] avge_sum|Spring",
 "['gipps_rain_grouped'] avge_sum|Summer",
 "['gipps_rain_grouped'] avge_sum|Winter",
 'c30',
 'count_1']

In [ ]:
bp = ax.boxplot(north_max_temp, patch_artist = True,
                notch ='True', vert = 1
                df.groupby('product')['sales'].plot(legend=True))

In [ ]:
gipps_all=pd.read_csv("gipps_all.csv")
gipps_finale_all=combine(gipps_max_grouped,gipps_min_grouped,gipps_rain_grouped,gipps_count,gipps_all)

In [ ]:
model_fe = fixedeffect(data_df = df,
                      dependent = y,
                      exog_x = exog_x,
                      category = category,
                      cluster = cluster)

In [ ]:
gipps_finale_all.to_csv("gipps_master.csv")
gipps_max_temp

In [ ]:
from google.colab import files
!zip -r /content/final_data.zip /content/final_data
files.download('/content/final_data.zip')

  adding: content/final_data/ (stored 0%)
  adding: content/final_data/north_min_group.csv (deflated 64%)
  adding: content/final_data/north_temp_grouped.csv (deflated 64%)
  adding: content/final_data/sw_temp_grouped.csv (deflated 63%)
  adding: content/final_data/sw_min_temp.csv (deflated 74%)
  adding: content/final_data/gipps_min_group.csv (deflated 64%)
  adding: content/final_data/north_csv_rain.csv (deflated 86%)
  adding: content/final_data/north_rain_grp.csv (deflated 61%)
  adding: content/final_data/north_max_temp.csv (deflated 75%)
  adding: content/final_data/north_min_temp.csv (deflated 74%)
  adding: content/final_data/gipps_csv_rain.csv (deflated 81%)
  adding: content/final_data/sw_rain_grp.csv (deflated 64%)
  adding: content/final_data/sw_max_temp.csv (deflated 76%)
  adding: content/final_data/gipps_rain_grp.csv (deflated 65%)
  adding: content/final_data/gipps_temp_grouped.csv (deflated 64%)
  adding: content/final_data/gipps_max_temp.csv (deflated 74%)
  adding: content/final_data/sw_min_group.csv (deflated 63%)
  adding: content/final_data/southwest_csv_rain.csv (deflated 83%)
  adding: content/final_data/gipps_min_temp.csv (deflated 73%)

install.packages("fpp3")
install.packages("plm")
library(fpp3)
library(plm)

grun.fe <- plm(Milk_sold~count_1+Autumn_rain+Summer_max_temp+Autumn_max_temp+Winter_max_temp+Spring_max_temp+Winter_min_temp+Spring_min_temp, data = gipps_master,index=(c("Farm_number","FYear")) ,model = "within")
grun.re <- plm(Milk_sold~count_1+Autumn_rain+Summer_max_temp+Autumn_max_temp+Winter_max_temp+Spring_max_temp+Winter_min_temp+Spring_min_temp, data = gipps_master,index=(c("Farm_number","FYear")) ,model = "random")
summary(grun.fe)
summary(grun.re)

pwaldtest(grun.fe, test = "F")
pwaldtest(grun.fe, test = "Chisq")
phtest(grun.fe)